#Footer {
    display: flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    border-top-style: solid;
    border-top-color:#382E2D;
}
#Footer-content {
    display: flex;
    flex-direction:row;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.social-links {
   color:#382E2D;
   margin-left:.75rem;
   margin-right:.75rem;
   font-size:28px;
}